// Colors
$primary-color: #ffbeb0;
$secondary-color: #b5b0ff;
$primary-green: #b0ffca;
$primary-blue: #b5b0ff;
$primary-pink: #ffd6de;
$orange: #fd7e14 !default;

// @import '~bootstrap/scss/bootstrap';
