@import '../styles/abstracts/variables';

.color-priority-article {
  //   background-color: $primary-pink;
  //   background-color: $primary-green;
}
.accept-button {
  border: none;
  background: none;

  cursor: pointer;
}

.acceptIcon {
  background-color: none;
}

.color-ul {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
  overflow-wrap: break-word;
}

// .color-li {
//   overflow-wrap: break-word;
// }
//Pink priority list
.pink-priority-article li:nth-child(1) {
  background-color: #ffa5b1;
}

.pink-priority-article li:nth-child(2) {
  background-color: #ffa5b9;
}

.pink-priority-article li:nth-child(3) {
  background-color: #ffbbc9;
}
//Green priority list
.green-priority-article li:nth-child(1) {
  background-color: rgb(136, 215, 162);
}

.green-priority-article li:nth-child(2) {
  background-color: rgb(151, 230, 177);
}

.green-priority-article li:nth-child(3) {
  background-color: rgb(153, 232, 179);
}
.green-priority-article li:nth-child(n + 4) {
  background-color: rgb(153, 232, 179);
}
