@import '../styles/abstracts/variables';
.priority-main {
  height: auto;
  background-color: $primary-color;
  width: 100vw;
  min-height: 100vh;
}

.accept-button {
  border: none;
  background: none;

  cursor: pointer;
}

.acceptIcon {
  background-color: none;
}

.color-priority-article li:nth-child(1) {
  background-color: #ffa5b1; /* Första artikeln får röd bakgrundsfärg */
}

.color-priority-article li:nth-child(2) {
  background-color: #ffa5b9; /* Andra artikeln får blå bakgrundsfärg */
}

.color-priority-article li:nth-child(3) {
  background-color: #ffbbc9; /* Tredje artikeln får grön bakgrundsfärg */
}

.green-priority-article {
  background-color: $primary-green;
}
.pink-priority-article {
  background-color: $primary-pink;
}
.progress-bar-with-border {
  border: 2px solid black;
  border-radius: 10px;
  font-family: 'Gochi Hand';
}
